body {
  margin: auto;
  margin-top: 100px;
  display: table;
  border: groove;
  border-width: 50px;
  border-color: purple;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: square;
  font-weight: bold;
}

h1, h2 {
  color: rgb(93, 1, 93);
}

li {
  padding: 5px;
}

button:hover {
  color: rgb(93, 1, 93);
}