body {
  margin: auto;
  margin-top: 50px;
  display: table;
  border: outset;
  border-color: purple;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2 {
  color: purple;
}

li {
  padding: 5px;
}

button:hover {
  color: purple;
}